@font-face {
  font-family: logoFont;
  src: url(impact.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
}

body .bg {
  background: url(../header-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  z-index: -2;
  height: 100%;
  width: 100%;
}

body .bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(16, 24, 32, 0.8);
  z-index: -1;
}

body nav {
  background-color: #101820;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

body nav .nav-container {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav .nav-container .logo-container {
  text-decoration: none;
}

body nav .nav-container .logo-container .logo {
  background-color: #fdc325;
  border-radius: 8px;
  width: 150px;
  text-align: center;
  height: 55px;
  line-height: 55px;
  cursor: pointer;
}

body nav .nav-container .logo-container .logo h1 {
  color: black;
  font-family: logoFont;
  font-size: 2.5rem;
  font-weight: 500;
}

body nav .nav-container .logo-container .logo h1 span {
  color: #4d4d4d;
}

body nav .nav-container .nav-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body nav .nav-container .nav-btns a {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: #101820;
  border: none;
  color: #f2aa4c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body nav .nav-container .nav-btns a:hover {
  background-color: #f2aa4c;
  border: none;
  color: #101820;
}

body nav .nav-container .nav-btns a.active {
  background-color: #f2aa4c;
  border: none;
  color: #101820;
}

body header {
  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

body header .slogan {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0.5);
  height: 25vh;
}

body header .slogan h2 {
  color: white;
  font-size: 4rem;
  font-family: monospace;
  letter-spacing: 2px;
}

body header .slogan h1 {
  color: white;
  font-size: 5rem;
  font-family: monospace;
  letter-spacing: 2px;
}

body header .start-btn {
  position: absolute;
  top: 70%;
  -webkit-transform: translate(0, -70%);
          transform: translate(0, -70%);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .start-btn a {
  text-decoration: none;
  font-size: 3rem;
  font-family: monospace;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
  border: 1px solid #f2aa4c;
  outline: none;
  background: #101820;
  color: #f2aa4c;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

body header .start-btn a:hover {
  color: #101820;
  background-color: #f2aa4c;
}

body main {
  min-height: 70vh;
}

body main #search-container {
  width: 40%;
  margin: auto;
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

body main #search-container #search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 50px;
}

body main #search-container #search-bar #search-input {
  width: 70%;
  outline: none;
  border: none;
  border-radius: 30px 0 0 30px;
  padding: 0.5rem 0.8rem;
  height: 100%;
  font-size: 1.3rem;
  margin: 0;
}

body main #search-container #search-bar #search-btn {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: white;
  width: 10%;
  border: none;
  outline: none;
  text-decoration: none;
  margin: auto 0;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

body main #search-container #search-bar #search-btn i {
  font-size: 2rem;
  color: #101820;
}

body main #search-container #search-bar #search-btn:hover {
  background-color: #101820;
}

body main #search-container #search-bar #search-btn:hover i {
  color: #f2aa4c;
}

body main #search-container #search-bar #searchOpBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f2aa4c;
  background: none;
  font-size: 1.2rem;
  height: 100%;
  cursor: pointer;
  width: 15%;
  margin-left: auto;
  border: none;
  outline: none;
}

body main #search-container .searchOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
  margin: 15px auto;
  background: rgba(16, 24, 32, 0.8);
  border-radius: 10px;
  border: 2px solid #f2aa4c;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

body main #search-container .searchOptions .search-group {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body main #search-container .searchOptions .search-group label,
body main #search-container .searchOptions .search-group select,
body main #search-container .searchOptions .search-group input {
  font-size: 1.3rem;
  padding: 0.5rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

body main #search-container .searchOptions .search-group label {
  font-size: 1.8rem;
  font-weight: bold;
  color: #f2aa4c;
}

body main #search-container .searchOptions.optionsActive {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  pointer-events: all;
}

body main .moviesContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(269px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(269px, 1fr));
  grid-gap: 2rem;
  width: 90%;
  margin: 10% auto;
  justify-items: center;
}

body main .moviesContainer .movieContainer {
  height: 400px;
  width: 269px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 5px 20px 0 #525252;
          box-shadow: 0 5px 20px 0 #525252;
}

body main .moviesContainer .movieContainer:hover .movie-img img {
  -webkit-filter: blur(2px) brightness(40%);
          filter: blur(2px) brightness(40%);
}

body main .moviesContainer .movieContainer:hover .movie-info {
  top: 200px;
  opacity: 1;
}

body main .moviesContainer .movieContainer .movie-img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body main .moviesContainer .movieContainer .movie-img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body main .moviesContainer .movieContainer .movie-info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 400px;
  left: 0;
  padding: 0.4rem;
  height: 200px;
  width: 100%;
  opacity: 0;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body main .moviesContainer .movieContainer .movie-info h5 {
  font-size: 1.6rem;
}

body main .moviesContainer .movieContainer .movie-info h6 {
  font-size: 1.2rem;
}

body main .moviesContainer .movieContainer .movie-info button {
  height: 50px;
  width: 90%;
  font-size: 1.4rem;
  letter-spacing: 2px;
  padding: 0 0.8rem;
  margin: 10px auto;
  background-color: #f2aa4c;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

body main .moviesContainer .movieContainer .movie-info button:hover {
  background-color: #ef931c;
}

body .my-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .my-modal .my-modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #101820;
  min-height: 70vh;
  height: auto;
  width: 80%;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.308);
          box-shadow: 0 5px 30px 0 rgba(255, 255, 255, 0.308);
}

body .my-modal .my-modal-content .left-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
  background-color: #1e2c3b;
  border-radius: 10px 0 0 10px;
}

body .my-modal .my-modal-content .left-modal .poster-container {
  width: 100%;
  min-height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .my-modal .my-modal-content .left-modal .poster-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .my-modal .my-modal-content .left-modal .modal-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 20%;
}

body .my-modal .my-modal-content .left-modal .modal-btns button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  font-size: 1.4rem;
  background-color: #f2aa4c;
  color: #101820;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

body .my-modal .my-modal-content .left-modal .modal-btns button:hover {
  background-color: #ef931c;
}

body .my-modal .my-modal-content .left-modal .modal-btns button i {
  font-size: 1.8rem;
}

body .my-modal .my-modal-content .info {
  color: white;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

body .my-modal .my-modal-content .info .title {
  font-family: 'Roboto Slab', serif;
}

body .my-modal .my-modal-content .info .title h1 {
  margin: 0;
  font-weight: bold;
  color: #f2aa4c;
}

body .my-modal .my-modal-content .info .title h3 {
  text-transform: capitalize;
  font-size: 1.2rem;
}

body .my-modal .my-modal-content .info h2,
body .my-modal .my-modal-content .info h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  color: #f2aa4c;
}

body .my-modal .my-modal-content .info fieldset {
  border: 1px solid #f2aa4c;
  border-radius: 15px;
  padding: 8px;
  max-height: 400px;
  overflow: auto;
}

body .my-modal .my-modal-content .info fieldset p {
  text-align: justify;
  font-size: 1.2rem;
}

body .my-modal .my-modal-content .info span {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body .my-modal.modal-open {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 1100px) {
  body body header .searchOptions .form-group {
    width: 45%;
  }
  body body .my-modal .my-modal-content {
    min-height: 50vh;
  }
  body body .my-modal .my-modal-content .info {
    padding: 10px;
  }
  body body .my-modal .my-modal-content .info .title h1 {
    font-size: 1.6rem;
  }
  body body .my-modal .my-modal-content .info .title h3 {
    font-size: 1rem;
  }
  body body .my-modal .my-modal-content .info h2,
  body body .my-modal .my-modal-content .info h4 {
    font-size: 1.2rem;
  }
  body body .my-modal .my-modal-content .info fieldset p {
    font-size: 0.8rem;
  }
  body body .my-modal .my-modal-content .info span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  body body header {
    padding: 15px;
  }
  body body header .logo {
    padding: 0.4rem 1rem;
    border-radius: 20px;
  }
  body body header .logo h1 {
    font-size: 3rem;
  }
  body body header #searchBar {
    width: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body body header #searchBar #searchInput {
    margin: 5px auto;
  }
  body body header #searchBar #searchBtn {
    width: 40%;
    margin: 5px auto;
  }
  body body header #searchBar #searchOpBtn {
    width: 40%;
    margin: 5px auto;
  }
  body body header .searchOptions .form-group {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body body header .searchOptions .form-group legend {
    font-size: 1rem;
    text-align: center;
    margin: 0;
  }
  body body .my-modal .my-modal-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 70vh;
    overflow: auto;
  }
  body body .my-modal .my-modal-content .poster-container {
    width: auto;
    height: 20%;
    margin: auto;
  }
  body body .my-modal .my-modal-content .info {
    padding: 10px;
    width: 100%;
  }
  body body .my-modal .my-modal-content .info .title h1 {
    font-size: 1.6rem;
  }
  body body .my-modal .my-modal-content .info .title h3 {
    font-size: 1rem;
  }
  body body .my-modal .my-modal-content .info h2,
  body body .my-modal .my-modal-content .info h4 {
    font-size: 1.2rem;
  }
  body body .my-modal .my-modal-content .info fieldset {
    overflow: hidden;
  }
  body body .my-modal .my-modal-content .info fieldset p {
    font-size: 0.8rem;
  }
  body body .my-modal .my-modal-content .info span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  body body header {
    min-height: 230px;
  }
  body body header #searchBar {
    width: 65%;
  }
  body body header .searchOptions {
    width: 100%;
  }
  body body header .searchOptions .form-group {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body body header .searchOptions .form-group legend {
    font-size: 0.8rem;
    text-align: center;
    margin: 0;
  }
  body body header .searchOptions.optionsActive {
    top: 230px;
  }
  body body .moviesContainer {
    top: 240px;
  }
}
/*# sourceMappingURL=style.css.map */