@font-face {
  font-family: logoFont;
  src: url(impact.ttf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
  background-color: black;
}

body header {
  height: 30vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  background-color: black;
  border-bottom: 3px solid #ffd900;
}

body header .logo {
  background-color: #ffd900;
  padding: 0.4rem 1rem;
  border-radius: 20px;
}

body header .logo h1 {
  color: black;
  font-family: logoFont;
  font-size: 5rem;
}

body header .logo h1 span {
  color: #727272;
}

body header #searchBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  margin: 0 auto;
}

body header #searchBar #searchInput {
  width: 60%;
}

body header #searchBar #searchBtn {
  width: 20%;
  margin-left: auto;
}

body header .searchOptions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 7%;
  width: 80%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 27vh;
  background-color: black;
  border-radius: 0 0 20px 20px;
  border: 1px solid #ffd900;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  opacity: 0;
  pointer-events: none;
}

body header .searchOptions .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 35%;
  margin: auto;
}

body header .searchOptions.optionsActive {
  top: 30vh;
  opacity: 1;
  pointer-events: all;
}

body .moviesContainer {
  position: absolute;
  top: 30vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(269px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(269px, 1fr));
  grid-gap: 2rem;
  width: 90%;
  margin: 10% auto;
  justify-items: center;
}

body .moviesContainer .movieContainer {
  height: 400px;
  width: 269px;
  overflow: hidden;
  position: relative;
}

body .moviesContainer .movieContainer:hover .movie-img img {
  -webkit-filter: blur(2px) brightness(50%);
          filter: blur(2px) brightness(50%);
}

body .moviesContainer .movieContainer:hover .movie-info {
  top: 200px;
  opacity: 1;
}

body .moviesContainer .movieContainer .movie-img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .moviesContainer .movieContainer .movie-img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .moviesContainer .movieContainer .movie-info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 400px;
  left: 0;
  padding: 0.4rem;
  height: 200px;
  width: 100%;
  opacity: 0;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

body .my-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.658);
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .my-modal .my-modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #1b1b1b;
  border-radius: 20px;
  min-height: 70vh;
  height: auto;
  width: 80%;
  border-radius: 10px;
}

body .my-modal .my-modal-content .poster-container {
  width: 30%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #2e2e2e;
}

body .my-modal .my-modal-content .poster-container img {
  width: 90%;
  height: 90%;
  -o-object-fit: contain;
     object-fit: contain;
}

body .my-modal .my-modal-content .info {
  padding: 20px;
  color: white;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
}

body .my-modal .my-modal-content .info .title {
  font-family: 'Roboto Slab', serif;
}

body .my-modal .my-modal-content .info .title h1 {
  margin: 0;
  font-weight: bold;
  color: #ffd900;
}

body .my-modal .my-modal-content .info .title h3 {
  text-transform: capitalize;
  font-size: 1.2rem;
}

body .my-modal .my-modal-content .info h2,
body .my-modal .my-modal-content .info h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.6rem;
  color: #ffd900;
}

body .my-modal .my-modal-content .info fieldset {
  border: 1px solid #ffd900;
  border-radius: 15px;
  padding: 8px;
  max-height: 400px;
  overflow: auto;
}

body .my-modal .my-modal-content .info fieldset p {
  text-align: justify;
  font-size: 1.2rem;
}

body .my-modal .my-modal-content .info span {
  font-size: 1.3rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

body .my-modal.modal-open {
  opacity: 1;
  pointer-events: all;
}
/*# sourceMappingURL=style.css.map */