* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'KoHo', sans-serif;
}

button {
  font-family: 'KoHo', sans-serif;
  color: #0085BF;
}

body {
  width: 100%;
  background: #ffffff;
}

body .container {
  min-height: 100vh;
  width: 85%;
  margin: 0 auto;
}

body .container nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 75px;
  background-color: #fcfcfc;
  width: 100%;
  -webkit-box-shadow: 0 1px 6px;
          box-shadow: 0 1px 6px;
}

body .container nav .nav-container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container nav .nav-container .logo {
  margin-top: 5px;
}

body .container nav .nav-container .logo img {
  width: 140px;
  height: auto;
}

body .container nav .nav-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .container nav .nav-container .nav-links .link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

body .container nav .nav-container .nav-links .active {
  color: #0085BF;
  font-weight: 700;
}

body .container .hero-section {
  position: relative;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 180px;
}

body .container .hero-section .slogan {
  margin-bottom: 80px;
}

body .container .hero-section .slogan h1 {
  font-size: 3rem;
  letter-spacing: 2px;
  font-weight: 600;
  margin-bottom: 25px;
}

body .container .hero-section .slogan h3 {
  font-size: 2rem;
  letter-spacing: 1px;
  font-weight: 400;
}

body .container .hero-section .search-container .search-bar {
  border-bottom: 1px solid black;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 40px;
}

body .container .hero-section .search-container .search-bar input {
  font-size: 1rem;
  padding: 0.4rem;
  border: none;
  outline: none;
  letter-spacing: 1px;
  width: 90%;
}

body .container .hero-section .search-container .search-bar button {
  background: none;
  border: none;
  outline: none;
  height: 100%;
  width: 10%;
  cursor: pointer;
}

body .container .hero-section .search-container .search-bar button i {
  font-size: 2rem;
}

body .container .hero-section .search-container .search-bar:focus-within {
  border-bottom: 1px solid #0085BF;
}

body .container .hero-section .search-container .search-bar:focus-within button {
  color: #0085BF;
}

body .container .hero-section .search-container .search-filter .filter-headline {
  width: 130px;
}

body .container .hero-section .search-container .search-filter .filter-headline h3 {
  color: #444444;
  font-weight: 600;
}

body .container .hero-section .search-container .search-filter .search-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 600px;
  margin: 1.5rem 0;
}

body .container .hero-section .search-container .search-filter .search-type .radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: 450px;
}

body .container .hero-section .search-container .search-filter .search-type .radio-group .radio-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 1.2rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 25px 0 0;
}

body .container .hero-section .search-container .search-filter .search-type .radio-group .radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

body .container .hero-section .search-container .search-filter .search-type .radio-group .checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: #cacaca;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .container .hero-section .search-container .search-filter .search-type .radio-group .radio-container:hover input ~ .checkmark {
  background-color: #bbb;
}

body .container .hero-section .search-container .search-filter .search-type .radio-group .radio-container input:checked ~ .checkmark {
  background-color: #0085BF;
}

body .container .hero-section .search-container .search-filter .search-type .radio-group .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

body .container .hero-section .search-container .search-filter .search-type .radio-group .radio-container input:checked ~ .checkmark:after {
  display: block;
}

body .container .hero-section .search-container .search-filter .search-type .radio-group .radio-container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

body .container .hero-section .search-container .search-filter .search-year {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 230px;
}

body .container .hero-section .search-container .search-filter .search-year input[type=number] {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid balck;
  padding: 0.5rem 0;
  font-size: 1rem;
  outline: none;
  letter-spacing: 1px;
}

body .container .hero-section .search-container .search-filter .search-year input[type=number]:focus {
  border-bottom: 2px solid #0085BF;
}

body .container main .moviesContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(220px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  margin: 150px auto;
  justify-items: center;
}

body .container main .moviesContainer .movieContainer {
  height: auto;
  width: 220px;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 5px 15px;
          box-shadow: 0 5px 15px;
}

body .container main .moviesContainer .movieContainer:hover .movie-img img {
  -webkit-filter: blur(2px) brightness(40%);
          filter: blur(2px) brightness(40%);
}

body .container main .moviesContainer .movieContainer:hover .movie-info {
  opacity: 1;
}

body .container main .moviesContainer .movieContainer .movie-img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .container main .moviesContainer .movieContainer .movie-img img {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .container main .moviesContainer .movieContainer .movie-info {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  bottom: 0;
  left: 0;
  padding: 0.4rem;
  height: auto;
  width: 100%;
  opacity: 0;
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

body .container main .moviesContainer .movieContainer .movie-info h5 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #26bdff;
}

body .container main .moviesContainer .movieContainer .movie-info h6 {
  font-size: 1rem;
}

body .container main .moviesContainer .movieContainer .movie-info button {
  height: 50px;
  width: 100%;
  font-size: 1.4rem;
  letter-spacing: 1px;
  padding: 0 0.8rem;
  margin: 10px auto;
  font-weight: 600;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

body .container .my-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  z-index: 3;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

body .container .my-modal .my-modal-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: white;
  min-height: 70vh;
  height: auto;
  width: 80%;
}

body .container .my-modal .my-modal-content .left-modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  background-color: white;
  padding: 10px;
}

body .container .my-modal .my-modal-content .left-modal .poster-container {
  width: 100%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container .my-modal .my-modal-content .left-modal .poster-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .container .my-modal .my-modal-content .left-modal .modal-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 20%;
}

body .container .my-modal .my-modal-content .left-modal .modal-btns button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  font-size: 1.2rem;
  background: #ddd;
  color: #0085BF;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  padding: 0.5rem 1rem;
  outline: none;
  letter-spacing: 1px;
  cursor: pointer;
  font-weight: bold;
  border: none;
}

body .container .my-modal .my-modal-content .left-modal .modal-btns button i {
  font-size: 1.8rem;
}

body .container .my-modal .my-modal-content .info {
  color: black;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px;
}

body .container .my-modal .my-modal-content .info .title {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0085BF;
  color: white;
}

body .container .my-modal .my-modal-content .info .title h1 {
  margin: 0;
  font-weight: bold;
}

body .container .my-modal .my-modal-content .info .title span {
  font-size: 1.3rem;
}

body .container .my-modal .my-modal-content .info .detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
}

body .container .my-modal .my-modal-content .info .detail h2,
body .container .my-modal .my-modal-content .info .detail h3 {
  font-size: 1.2rem;
  text-align: left;
}

body .container .my-modal .my-modal-content .info .detail h2 {
  min-width: 130px;
}

body .container .my-modal .my-modal-content .info .detail h3 {
  font-weight: 400;
}

body .container .my-modal .my-modal-content .info .plot {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

body .container .my-modal .my-modal-content .info .plot p {
  text-align: justify;
  font-size: 1rem;
}

body .container .my-modal.modal-open {
  opacity: 1;
  pointer-events: all;
}

@media screen and (max-width: 1100px) {
  body .container .my-modal .my-modal-content .left-modal .modal-btns button {
    font-size: 1.1rem;
    padding: 0.4rem 0.5rem;
    letter-spacing: 0;
  }
  body .container .my-modal .my-modal-content .left-modal .modal-btns button i {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 867px) {
  body .container nav .nav-container {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  body .container nav .nav-container .logo img {
    width: 120px;
  }
  body .container nav .nav-container .nav-links {
    width: 350px;
  }
  body .container nav .nav-container .nav-links .link {
    font-size: 1rem;
  }
  body .container .hero-section {
    margin-top: 140px;
  }
  body .container .hero-section .slogan {
    margin-bottom: 60px;
  }
  body .container .hero-section .slogan h1 {
    font-size: 2.5rem;
    letter-spacing: 1px;
  }
  body .container .hero-section .slogan h3 {
    font-size: 1.8rem;
  }
  body .container .hero-section .search-container .search-filter .search-type {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 250px;
  }
  body .container .hero-section .search-container .search-filter .search-type .radio-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  body .container .hero-section .search-container .search-filter .search-type .radio-group .radio-container {
    margin: 5px 25px;
  }
  body .container .my-modal .my-modal-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 600px;
    overflow: auto;
    width: 400px;
  }
  body .container .my-modal .my-modal-content .left-modal {
    width: 100%;
    height: 100%;
  }
  body .container .my-modal .my-modal-content .left-modal .poster-container {
    width: 100%;
  }
  body .container .my-modal .my-modal-content .left-modal .poster-container img {
    width: 60%;
    height: 60%;
  }
  body .container .my-modal .my-modal-content .left-modal .modal-btns {
    margin: auto;
    width: 60%;
    height: 120px;
  }
  body .container .my-modal .my-modal-content .left-modal .modal-btns button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    letter-spacing: 1px;
    font-weight: bold;
  }
  body .container .my-modal .my-modal-content .info {
    padding: 10px;
    width: 100%;
  }
  body .container .my-modal .my-modal-content .info .title h1 {
    font-size: 1.6rem;
  }
  body .container .my-modal .my-modal-content .info .title h3 {
    font-size: 1rem;
  }
  body .container .my-modal .my-modal-content .info h2,
  body .container .my-modal .my-modal-content .info h4 {
    font-size: 1.2rem;
  }
  body .container .my-modal .my-modal-content .info fieldset {
    overflow: hidden;
  }
  body .container .my-modal .my-modal-content .info fieldset p {
    font-size: 1.1rem;
  }
  body .container .my-modal .my-modal-content .info span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 620px) {
  body .container nav {
    height: 100px;
  }
  body .container nav .nav-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container nav .nav-container .nav-links {
    width: 320px;
  }
  body .container .hero-section {
    margin-top: 160px;
  }
  body .container .hero-section .slogan {
    margin-bottom: 60px;
  }
  body .container .hero-section .slogan h1 {
    font-size: 2rem;
    letter-spacing: 1px;
  }
  body .container .hero-section .slogan h3 {
    font-size: 1.5rem;
  }
  body .container .my-modal .my-modal-content {
    max-height: 400px;
    width: 340px;
  }
  body .container .my-modal .my-modal-content .left-modal .poster-container img {
    width: 80%;
    height: 80%;
  }
  body .container .my-modal .my-modal-content .left-modal .modal-btns {
    width: 80%;
  }
  body .container .my-modal .my-modal-content .info {
    padding: 10px;
    width: 100%;
  }
  body .container .my-modal .my-modal-content .info .title h1 {
    font-size: 1.6rem;
  }
  body .container .my-modal .my-modal-content .info .title h3 {
    font-size: 1rem;
  }
  body .container .my-modal .my-modal-content .info h2,
  body .container .my-modal .my-modal-content .info h4 {
    font-size: 1.2rem;
  }
  body .container .my-modal .my-modal-content .info fieldset {
    overflow: hidden;
  }
  body .container .my-modal .my-modal-content .info fieldset p {
    font-size: 1.1rem;
  }
  body .container .my-modal .my-modal-content .info span {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */