@font-face {
    font-family: logoFont;
    src: url(impact.ttf);
}

$primary-color :rgb(16, 24, 32);
$secondary-color : rgb(242, 170, 76);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    width: 100%;

    .bg {
        background: url(../header-bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: fixed;
        z-index: -2;
        height: 100%;
        width: 100%;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: rgba($primary-color, 0.8);
            z-index: -1;

        }
    }

    nav {
        background-color: $primary-color;
        width: 100%;
        height: 10vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;

        .nav-container {
            width: 80%;
            height: 100%;
            margin: auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .logo-container {

                .logo {
                    background-color: rgb(253, 195, 37);
                    border-radius: 8px;
                    width: 150px;
                    text-align: center;
                    height: 55px;
                    line-height: 55px;

                    h1 {
                        color: black;
                        font-family: logoFont;
                        font-size: 2.5rem;
                        font-weight: 500;


                        span {
                            color: rgb(77, 77, 77);
                        }



                    }
                }
            }

            .nav-btns {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;

                button {
                    font-size: 1rem;
                    padding: 0.5rem 1rem;
                    border-radius: 6px;
                    outline: none;
                    letter-spacing: 1px;
                    cursor: pointer;
                    font-weight: bold;
                    transition: all 0.2s ease-out;
                    background-color: $primary-color;
                    border: none;
                    color: $secondary-color;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &:hover {
                        background-color: $secondary-color;
                        border: none;
                        color: $primary-color;
                    }
                }
            }

        }
    }



    header {
        height: 100vh;
        width: 100%;
        position: relative;
        z-index: 1;

        .slogan {
            position: absolute;
            top: 50%;
            transform: translate(0, -50%);
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            background-color: rgba(0, 0, 0, 0.5);
            height: 25vh;

            h2 {
                color: white;
                font-size: 4rem;
                font-family: monospace;
                letter-spacing: 2px;
            }
        }

        .start-btn {
            position: absolute;
            top: 70%;
            transform: translate(0, -70%);
            width: 100%;
            display: flex;
            justify-content: center;

            a {
                text-decoration: none;
                font-size: 3rem;
                font-family: monospace;
                font-weight: bold;
                letter-spacing: 2px;
                padding: 0.7rem 1.5rem;
                border-radius: 8px;
                border: 1px solid $secondary-color;
                outline: none;
                background: $primary-color;
                color: $secondary-color;
                cursor: pointer;
                transition: all 0.2s ease-out;

                &:hover {
                    color: $primary-color;
                    background-color: $secondary-color;
                }

            }
        }
    }



    main {
        min-height: 70vh;

        #search-container {
            width: 40%;
            margin: auto;
            min-height: 40vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

            #search-bar {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 50px;


                #search-input {
                    width: 70%;
                    outline: none;
                    border: none;
                    border-radius: 30px 0 0 30px;
                    padding: 0.5rem 0.8rem;
                    height: 100%;
                    font-size: 1.3rem;
                    margin: 0;
                }

                #search-btn {
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: white;
                    width: 10%;
                    border: none;
                    outline: none;
                    text-decoration: none;
                    margin: auto 0;
                    transition: all 0.2s ease-out;
                    cursor: pointer;

                    i {
                        font-size: 2rem;
                        color: $primary-color;
                    }

                    &:hover {
                        background-color: $primary-color;

                        i {
                            color: $secondary-color;
                        }
                    }

                }

                #searchOpBtn {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $secondary-color;
                    background: none;
                    font-size: 1.2rem;
                    height: 100%;
                    cursor: pointer;
                    width: 15%;
                    margin-left: auto;
                    border: none;
                    outline: none;
                }
            }

            .searchOptions {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-evenly;
                align-items: center;
                min-height: 70px;
                margin: 15px auto;
                background: rgba($primary-color, 0.8);
                border-radius: 10px;
                border: 2px solid $secondary-color;
                transform: translateY(-30px);
                opacity: 0;
                pointer-events: none;
                transition: all 0.2s ease-out;

                .search-group {
                    width: 50%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;

                    label,
                    select,
                    input {
                        font-size: 1.3rem;
                        padding: 0.5rem;
                        border-radius: 5px;
                        outline: none;
                        border: none;
                    }

                    label {
                        font-size: 1.8rem;
                        font-weight: bold;
                        color: $secondary-color;
                    }
                }

                &.optionsActive {
                    opacity: 1;
                    transform: translateY(0);
                    pointer-events: all;


                }
            }
        }


        .moviesContainer {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(269px, 1fr));
            grid-gap: 2rem;
            width: 90%;
            margin: 10% auto;
            justify-items: center;

            .movieContainer {
                height: 400px;
                width: 269px;
                overflow: hidden;
                position: relative;
                box-shadow: 0 5px 20px 0 rgb(82, 82, 82);

                &:hover {
                    .movie-img {

                        img {
                            filter: blur(2px) brightness(40%);

                        }
                    }

                    .movie-info {
                        top: 200px;
                        opacity: 1;
                    }
                }

                .movie-img {
                    width: 100%;
                    height: 100%;
                    transition: all 0.3s ease-out;

                    img {
                        width: 100%;
                        height: 100%;
                        transition: all 0.3s ease-out;
                    }

                }

                .movie-info {
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    top: 400px;
                    left: 0;
                    padding: 0.4rem;
                    height: 200px;
                    width: 100%;
                    opacity: 0;
                    color: white;
                    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
                    transition: all 0.2s ease-out;
                    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

                    h5 {
                        font-size: 1.6rem;
                    }

                    h6 {
                        font-size: 1.2rem;
                    }

                    button {
                        height: 50px;
                        width: 90%;
                        font-size: 1.4rem;
                        letter-spacing: 2px;
                        padding: 0 0.8rem;
                        margin: 10px auto;
                        background-color: $secondary-color;
                        font-weight: bold;
                        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        border-radius: 5px;

                    }


                }
            }
        }
    }



    .my-modal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 0;
        z-index: 3;
        pointer-events: none;
        transition: all 0.3s ease-out;

        .my-modal-content {
            display: flex;
            flex-direction: row;
            background-color: $primary-color;
            border-radius: 20px;
            min-height: 70vh;
            height: auto;
            width: 80%;
            border-radius: 10px;

            .poster-container {
                width: 30%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: lighten($primary-color, 8%);

                img {
                    width: 90%;
                    height: 90%;
                    object-fit: contain;
                }
            }

            .info {
                color: white;
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding: 10px;


                .title {
                    font-family: 'Roboto Slab', serif;

                    h1 {
                        margin: 0;
                        font-weight: bold;
                        color: $secondary-color;
                    }

                    h3 {
                        text-transform: capitalize;
                        font-size: 1.2rem;

                    }
                }

                h2,
                h4 {
                    font-family: 'Roboto Slab', serif;
                    font-size: 1.6rem;
                    color: $secondary-color;

                }


                fieldset {
                    border: 1px solid $secondary-color;
                    border-radius: 15px;
                    padding: 8px;
                    max-height: 400px;
                    overflow: auto;


                    p {
                        text-align: justify;
                        font-size: 1.2rem;
                    }
                }

                span {
                    font-size: 1.3rem;
                    font-family: Arial, Helvetica, sans-serif;
                    color: white;
                }
            }


        }

        &.modal-open {
            opacity: 1;
            pointer-events: all;
        }
    }


    @media screen and(max-width : 1100px) {
        body {
            // font-size: 0.8rem;

            header {
                .searchOptions {
                    .form-group {
                        width: 45%;
                    }
                }
            }

            .my-modal {
                .my-modal-content {
                    min-height: 50vh;


                    .info {
                        padding: 10px;

                        .title {
                            h1 {
                                font-size: 1.6rem;
                            }

                            h3 {
                                font-size: 1rem;

                            }
                        }

                        h2,
                        h4 {
                            font-size: 1.2rem;
                        }


                        fieldset {
                            p {
                                font-size: 0.8rem;
                            }
                        }

                        span {
                            font-size: 1rem;

                        }
                    }
                }
            }
        }
    }

    @media screen and(max-width : 800px) {
        body {
            header {
                padding: 15px;

                .logo {
                    padding: 0.4rem 1rem;
                    border-radius: 20px;

                    h1 {
                        font-size: 3rem;
                    }

                }

                #searchBar {
                    width: 50%;
                    flex-direction: column;

                    #searchInput {
                        // width: 80%;
                        margin: 5px auto;

                    }

                    #searchBtn {
                        width: 40%;
                        margin: 5px auto;

                    }

                    #searchOpBtn {
                        width: 40%;
                        margin: 5px auto;

                    }
                }

                .searchOptions {
                    .form-group {
                        align-items: center;

                        legend {
                            font-size: 1rem;
                            text-align: center;
                            margin: 0;
                        }

                    }
                }
            }


            .my-modal {
                .my-modal-content {
                    flex-direction: column;
                    max-height: 70vh;
                    overflow: auto;

                    .poster-container {
                        width: auto;
                        height: 20%;
                        margin: auto;
                    }

                    .info {
                        padding: 10px;
                        width: 100%;


                        .title {
                            h1 {
                                font-size: 1.6rem;
                            }

                            h3 {
                                font-size: 1rem;

                            }
                        }

                        h2,
                        h4 {
                            font-size: 1.2rem;
                        }


                        fieldset {
                            overflow: hidden;

                            p {
                                font-size: 0.8rem;
                            }
                        }

                        span {
                            font-size: 1rem;

                        }
                    }
                }
            }
        }
    }

    @media screen and(max-width : 500px) {
        body {
            header {
                min-height: 230px;

                #searchBar {
                    width: 65%;
                }

                .searchOptions {
                    width: 100%;

                    .form-group {
                        align-items: center;

                        legend {
                            font-size: 0.8rem;
                            text-align: center;
                            margin: 0;
                        }

                    }

                    &.optionsActive {
                        top: 230px;

                    }
                }
            }

            .moviesContainer {
                top: 240px;
            }
        }

    }
}